/* color schema declaration */
:root{
    --dark-violet:#56015F !important;
    --Fuchsia:#d902ee !important;
    --d-gray:#455A64;
    --light-gray:#f2f2f2 !important;
    --hot-pink:#f162ff !important;
    --white-smoke:#f5f5f5 !important;
    --white:#fff;
    --black:#000;
    --poppins :'Poppins', sans-serif !important;
    --f-200 : 200 !important;
}
