

/* General styling */
body{
    scroll-behavior:smooth;
    max-width:100%;
    margin:0;
    padding:0;
    font-family: 'Roboto', sans-serif;
    backface-visibility:none !important;
    overflow-x:hidden;
}

*{
    box-sizing:border-box;
}

/* Styling for navbar starts here */
.navbar{
    max-width:100% !important;
    z-index:99;
    background:#fff;
}

/* brand */
.navbar-brand{
    color:var(--dark-violet);
    font-size:25px !important;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
}

.nav-link{
    color:var(--dark-violet);
    font-weight: 400 !important;
}

/* sections */
#landingSection,#aboutUs,#gallery,#ourTeam,#contactUs{
    width:100%;
    min-height:100vh;
}

/* Styling for landing section starts here */
.landing-area{
    width:100%;
    min-height:100vh;
}

.dots-intro-text{
    padding-right:1rem;
    min-height:50vh;
}

.dots-intro-text h1{
    white-space: nowrap;
    font-size:1.9rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:500;
    color:var(--dark-violet);
}

.dots-intro-text p{
    white-space:pre-wrap;
    font-family: 'Montserrat', sans-serif;
    font-weight:400;
    color:var(--d-gray);
    text-align:justify;
}

.g-btn{
    background-color:var(--dark-violet) !important;
}

.dots-intro-image{
    min-height:50vh;
}

.dots-intro-image img{
    min-width:200px;
    margin:auto;
}
/* ends here */